@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main-section {
  min-height: 100vh;
  background-color: rgb(150, 165, 254);

  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-account {
  background-color: rgb(240, 242, 255);
  min-width: 40%;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

.profile {
  width: 100px;
  height: 100px;
  position: relative;

  margin-bottom: 0.5rem;
}

.profile img {
  object-fit: cover;
  height: 100%;
  width: 100%;

  border-radius: 50%;
  padding: 0.1rem;

  border: 2px solid rgb(103, 115, 212);
}

.camera-div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e9e9e9;
  position: absolute;
  right: 0;
  bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 5px 0px rgb(209, 209, 209);
}

.profile-info {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  align-items: center;
}

.profile-info .title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;

  margin-bottom: 0.2rem;
}

.profile-info .email,
.account-details .email {
  color: gray;
  margin-bottom: 1rem;
}

.profile-info button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  background-color: transparent;
  border: 2px solid gray;
  color: gray;
  cursor: pointer;
  min-width: 70%;

  margin-bottom: 1rem;
}

.accounts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.account .account-details .title {
  font-weight: 500;
}

.accounts .account {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.accounts .account .img-wrapper {
  width: 40px;
  height: 40px;
}

.accounts .account .img-wrapper i {
  object-fit: cover;
  height: 100%;
  width: 100%;

  font-size: 40px;
  color: rgb(184, 184, 184);
}

.accounts .account .img-wrapper img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.account .account-details .exit {
  font-size: 14px !important;
}

.footer {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.footer small {
  color: gray;
  margin-bottom: 1rem;
}
